{% extends "contas/base.html" %}


<title>Cadastro Cliente</title>

{% block content %}



 <h4 class="mb-4 text-center text-dark">Preencha os dados!</h4>

   <form  method="post" action="#" class="needs-validacao" novalidate>

    
      <div class="form-group">
         <input type="text" required class="form-control" id="nome" aria-describedby="nome" placeholder="Seu nome" aria-describedby="inputGroupPrependNome" required>
        <div class="invalid-feedback">
         Digite seu nome!
      </div>
   </div>

      <div class="form-group">
         <input type="text" required class="form-control" id="sobrenome" aria-describedby="sobrenome" placeholder="Sobrenome" aria-describedby="inputGroupPrependSobrenome" required>
        <div class="invalid-feedback">
         Digite seu sobrenome!
      </div>  
      </div>
       <div class="form-group">
       <input type="email" required class="form-control" id="validationCustomEmail" placeholder="Seu email" aria-describedby="inputGroupPrependEmail" required>
        <div class="invalid-feedback">
          Digite um email válido. Exemplo: joaobatista@exemplo.com
        </div>
        

      <div class="form-group">    
        <label for="inputPassword5"></label>  
         <input type="password" required class="form-control" id="password" aria-describedby="password" placeholder="Digite uma senha" aria-describedby="inputGroupPrependSenha" minlength="8" required >
         
        <div class="invalid-feedback">
         Sua senha deve conter 8 dígitos!

      </div> 
      </div>    
         
      <div class="form-group">
         <input type="password" required class="form-control" id="confirm_password" aria-describedby="confirm_password" placeholder="Confirme a senha" aria-describedby="inputGroupPrependConfirmPassword" minlength="8" required>
        <div class="invalid-feedback">
         Confirme a senha!
      </div>
    </div>

     
       <button type="submit" class="btn btn-outline-success btn btn-block">Cadastrar</button>

   </form>

  
{% endblock %}


