{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'contas/css/theme.css' %}" type="text/css">
  <title>Site</title>
</head>

<body>
   
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a href="#" class="navbar-brand text-white">Site</a>
      <div class="d-flex ml-auto">
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="globalNavbar">
        <ul class="navbar-nav mr-auto order-1">
          <li class="text-white">
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="navbar-collapse navbar-top-collapse">
                <ul id="menu-top-menu" class="nav navbar-nav">
                  <li id="menu-item-601">
                    
                  </li>
                  <li id="menu-item-603" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-603">
                   
                  </li>
                  <li id="menu-item-1537" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1537">
                 
                  </li>
                  <li id="menu-item-602" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-602">
                
                  </li>
                  <li id="menu-item-1538" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1538">
                   
                  </li>
                  <li id="menu-item-1539" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1539">
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
          <li class="nav-item">
            <a class="nav-link text-success"  href="{% url 'cadastrar' %}">Cadastre-se aqui!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'contato' %}">Fale conosco</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'sobre' %}">Quem somos</a>
          </li>
        </ul>
        <ul class="navbar-nav d-lg-none">
          <li class="nav-item-divider"></li>
          <li class="nav-item">
            <a class="nav-link text-success" href="{% url 'cadastrar' %}">Cadastre-se aqui</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'contato' %}">Fale conosco</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'sobre' %}">Quem somos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center";>
 
    <div class="container">
      <div class="row">
        <div class="mx-auto col-12 p-3 section-light col-lg-5">
          <form class="p-4 section-light bg-light" method="post" action="#">
            <h5 class="mb-3 text-center">Dados de login</h5>
            <hr class="bg-success">
            <div class="form-group">
              <label></label>
              <input class="form-control" placeholder="Email:"> </div>
            <div class="form-group">
              <label></label>
              <input class="form-control" placeholder="Senha." type="password"> </div>
            <div class="form-group"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-success">
              <b>
                <b>Acessar</b>
              </b>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-dark">
          <b>© Copyright Site - All rights reserved. </b>
        </p>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
    </div>
  </div>
  
</body>

</html>