{% extends "contas/base.html" %}
  <title>Nova senha</title>

{% block content %}

  
<h4 class="mb-4 text-center text-dark">Seu email cadastrado</h4>
    <form method="post" action="#" class="needs-validacao" novalidate>
  

  <div class="form-group">
      <input type="email" required class="form-control" id="exampleFormControlInput1" aria-describedby="inputGroupPrependEmail" placeholder="nome@exemplo.com">
  	  <div class="invalid-feedback" >
         Digite seu email!
      </div>
  </div>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>     

{% endblock %}